---
import SocialPill from "./SocialPill.astro"
import ArrowUpRight from "./icons/ArrowUpRight.astro"
import GithubIcon from "./icons/GithubIcon.astro"
import TechStack from "./TechStack.astro"
import VueIcon from "./icons/VueIcon.astro"
import LaravelIcon from "./icons/LaravelIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import DockerIcon from "./icons/DockerIcon.astro"

const ICONS_SIZE = 32;
---

<section id="projects" class="my-25">
    <h2 class="text-2xl font-medium mb-10">Projects</h2>

    <div class="project">
        <h4 class="font-medium text-[#EBE52C] mb-5">Music App</h4>
        <p class="text-gray-300">A full-featured web application that allows users to explore and listen to music. Users can browse songs by artist or album, play individual tracks, create custom playlists and singing while playing musics with real-time lyrics.
           <br><br>Designed with usability in mind, it replicates key features of popular streaming platforms while maintaining a clean and minimal interface.
    
           <TechStack>
               <VueIcon width={ICONS_SIZE} height={ICONS_SIZE} />
               <LaravelIcon width={ICONS_SIZE} height={ICONS_SIZE} />
               <PythonIcon width={ICONS_SIZE} height={ICONS_SIZE} />
               <DockerIcon width={ICONS_SIZE} height={ICONS_SIZE} />
           </TechStack>
    
           <div class="flex">
                <SocialPill href="https://github.com/christianjosue/music-app">
                    See on Github &nbsp; <GithubIcon />
                </SocialPill>
                
                <SocialPill href="https://music-app-vue.up.railway.app/">
                    View Project &nbsp;<ArrowUpRight />
                </SocialPill>
           </div>
    
           <img class="my-5 rounded-lg" src="/img/music-app.jpg" alt="Music app Front page" />
        </p>
    </div>
</section>